<ion-view view-title="Fuvest">
    <ion-content class="cnt-red">
        <section class="main-sec">
        <h1 class="sec-title">Exercícios na Lista</h1>
        <hr>
        <ion-list class="main-list">
            <ion-item class="double-item white-item">
                <div class="double-wrapper">
                    <div class="item-badge">
                        <div class="item-ball blue-back">
                            <span class="fa fa-globe"></span>
                        </div>
                    </div>
                    <div class="item-inside">
                        <h2>Relevo e Vegetação</h2>
                        <p class="small align-left red">Difícil</p>
                    </div>
                    <div class="item-sign">
                        <div class="item-ball">
                            3
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="double-item white-item">
                <div class="double-wrapper">
                    <div class="item-badge">
                        <div class="item-ball blue-back">
                            <span class="fa fa-calculator"></span>
                        </div>
                    </div>
                    <div class="item-inside">
                        <h2>Geometria Analítica</h2>
                        <p class="small align-left orange">Médio e Difícil</p>
                    </div>
                    <div class="item-sign">
                        <div class="item-ball">
                            2
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="double-item white-item">
                <div class="double-wrapper">
                    <div class="item-badge">
                        <div class="item-ball blue-back">
                            <span class="fa fa-book"></span>
                        </div>
                    </div>
                    <div class="item-inside">
                        <h2>Literatura</h2>
                        <p class="small align-left green">Fácil</p>
                    </div>
                    <div class="item-sign">
                        <div class="item-ball">
                            5
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </section>
    <section class="button-sec">
        <button class="button button-block red-back">
            Praticar
        </button>
    </section>
    <section class="main-sec">
        <h1 class="sec-title">Meu Histórico</h1>
        <hr>
        <ion-list class="main-list">
            <ion-item class="double-item white-item">
                <div class="double-wrapper">
                    <div class="item-inside nopadding">
                        <div style="width: 95%;">
                            <canvas id="line" class="chart chart-line" labels="linelabels" data="linedata" options="{showTooltips: false}" chart-colours="linecolor"></canvas>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="double-item white-item">
                <div class="double-wrapper">
                    <div class="item-inside padding-left">
                        <h2>Minha melhor pontuação: <span class="green">85%</span></h2>
                        <h2>Minha média: <span class="yellow">52%</span></h2>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </section>
    </ion-content>
</ion-view>