<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar id="mainHeader" class="bar-royal">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" id="mainContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-royal bar-super-royal">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="header-item">
                    <div class="img-wrap">
                    </div>
                    <p>Kleber Bambam</p>
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/dash">
                    <span class="icon fa fa-tachometer purple"></span> DASHBOARD
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/topics">
                    <span class="icon fa fa-university blue"></span> TÓPICOS
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/exers">
                    <span class="icon fa fa-file-text red"></span> EXERCÍCIOS
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/forum">
                    <span class="icon fa fa-comments orange"></span> FÓRUM
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/stats">
                    <span class="icon fa fa-bar-chart green"></span> ESTATÍSTICAS
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/community">
                    <span class="icon fa fa-users cyan"></span> COMUNIDADE
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
