/* Empty. Add your own CSS if you like */

/* CORES */

.purple {
    color: #5e35b1;
}

.green {
    color: #2E7D32;
}

.blue {
    color: #3F51B5;
}

.orange {
    color: #FF5722;
}

.red {
    color: #D32F2F;
}

.cyan {
    color: #0097A7;
}

ion-content{
    background-color: #F5F5F5;
}



/* SIDEMENU e HEADER */

.bar.bar-super-royal {
    background-color: #4527A0;
}

.bar.bar-green {
    background-color: #225d25 !important;
    border-color: #1d5020 !important;
}

.bar.bar-blue {
    background-color: #3F51B5 !important;
    border-color: #2f3c87 !important;
}

.bar.bar-orange {
    background-color: #e15a05 !important;
    border-color: #c95004 !important;
}

.bar.bar-red {
    background-color: #ca140a !important;
    border-color: #af1109 !important;
}

.bar.bar-cyan {
    background-color: #2597a1 !important;
    border-color: #228b94 !important;
}

ion-side-menu ion-content {
    background-color: #c1c1c1;
}

ion-side-menu ion-item a.item-content{
    background-color: #e9e9e9 !important;
    font-family: "Roboto";
    font-weight: 300;
}

ion-side-menu ion-item.item-icon-left .icon{
    font-size: 20px;
}

ion-side-menu ion-item.header-item {
    background-color: #e9e9e9 !important;
    font-family: "Roboto";
}

ion-side-menu ion-item.header-item .img-wrap{
    border-radius: 100px;
    border: 2px solid #4527A0;
    width: 35%;
    padding-bottom: 35%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bambam.jpg);
}

ion-side-menu ion-item.header-item p{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #4527A0;
}

