/* CORES */

.purple {
    color: #5e35b1 !important;
}

.green {
    color: #2E7D32 !important;
}

.blue {
    color: #3F51B5 !important;
}

.orange {
    color: #FF5722 !important;
}

.red {
    color: #D32F2F !important;
}

.cyan {
    color: #0097A7 !important;
}

.yellow {
    color: #FDD835 !important;
}

.white {
    color: white !important;
}

.purple-back {
    background-color: #5e35b1;
}

.green-back {
    background-color: #2E7D32;
}

.blue-back {
    background-color: #3F51B5;
}

.orange-back {
    background-color: #FF5722;
}

.red-back {
    background-color: #D32F2F;
}

.cyan-back {
    background-color: #0097A7;
}

.gray-back {
    background-color: #AAA;
}

.yellow-back {
    background-color: #FDD835;
}

ion-content{
    background-color: #F5F5F5;
}

.nopadding {
    padding: 0 !important;
}

.padding-left {
    padding-left: 25px !important;
}


/* SIDEMENU e HEADER */

.bar.bar-super-royal {
    background-color: #4527A0;
}

.bar.bar-green {
    background-color: #225d25 !important;
    border-color: #1d5020 !important;
}

.bar.bar-blue {
    background-color: #3F51B5 !important;
    border-color: #2f3c87 !important;
}

.bar.bar-orange {
    background-color: #e15a05 !important;
    border-color: #c95004 !important;
}

.bar.bar-red {
    background-color: #ca140a !important;
    border-color: #af1109 !important;
}

.bar.bar-cyan {
    background-color: #2597a1 !important;
    border-color: #228b94 !important;
}

ion-side-menu ion-content {
    background-color: #c1c1c1;
}

ion-side-menu ion-item a.item-content{
    background-color: #e9e9e9 !important;
    font-family: "Roboto";
    font-weight: 300;
}

ion-side-menu ion-item.item-icon-left .icon{
    font-size: 20px;
}

ion-side-menu ion-item.header-item {
    background-color: #e9e9e9 !important;
    font-family: "Roboto";
}

ion-side-menu ion-item.header-item .img-wrap{
    border-radius: 100px;
    border: 2px solid #4527A0;
    width: 35%;
    padding-bottom: 35%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/bambam.jpg);
}

ion-side-menu ion-item.header-item p{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #4527A0;
}

/* EXERCICIOS */

section.horizontal-sec {
    background-color: #ddd;
}

section.horizontal-sec p.sec-title {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    color: #444;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 5px;
}

section.horizontal-sec .sec-inner-balls {
    width: -webkit-max-content;
    width: max-content;
}

section.horizontal-sec .sec-inner-balls .sec-item {
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Roboto Condensed";
    color: #555;
    font-size: 15px;
    text-align: center;
    position: relative;
    display: inline-block;
    max-width: 150px;
    min-width: 100px;
    vertical-align: top;
}

section.horizontal-sec .sec-inner-balls .sec-item .sec-item-ball {
    color: #EEE;
    text-align: center;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 36px;
    position: relative;
}

section.horizontal-sec .sec-inner-balls .sec-item .sec-item-ball span {
    position: relative;
    top: calc(50% - 18px);
}

section.breath-area {
    height: 70px;
}

section.main-sec .sec-title {
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    color: #333;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    padding-left: 12px;
    margin: 0;
}

section.main-sec hr {
    border: 0;
    height: 1px;
    margin: 0px;
    background-color: #DDD;
    padding-top: 0;
}

section.main-sec ion-list.main-list {

}

section.main-sec ion-list.main-list ion-item:first-child {
    border-top: 0;
}

section.main-sec ion-item.double-item {
    padding: 0;
    background-color: #F5F5F5;
}

section.main-sec ion-item.double-item.white-item {
    background-color: white;
}

section.main-sec ion-item.double-item .double-wrapper{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    align-items: stretch;

}

section.main-sec ion-item.double-item .item-badge {
    flex: 0 0 72px;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section.main-sec ion-item.double-item .item-badge .item-ball {
    color: #EEE;
    text-align: center;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section.main-sec ion-item.double-item .item-inside {
    padding: 10px;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section.main-sec ion-item.double-item .item-inside.padded {
    padding: 20px 30px;
}

section.main-sec ion-item.double-item .item-inside h1{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: normal;
    color: #555;
    margin: 0;
    text-align: left;
    width: 100%;
}

section.main-sec ion-item.double-item .item-inside h2{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: normal;
    color: #555;
    margin: 0;
    text-align: left;
    width: 100%;
}

section.main-sec ion-item.double-item p.small{
    width: 100%;
    font-size: 14px;
    margin-bottom: 0;
    font-family: "Roboto";
    text-align: center;
    color: #555;
}

section.main-sec ion-item.double-item p.align-left{
    text-align: left !important;
}

section.main-sec ion-item.double-item .item-sign {
    flex: 0 0 50px;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section.main-sec ion-item.double-item .item-sign .item-ball {
    color: white;
    font-weight: bold;
    background-color: #888;
    text-align: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    font-size: 15px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section.button-sec {
    padding: 20px 50px;
}

section.button-sec button {
    color: white;
    border-radius: 16px;
    font-family: "Roboto";
    font-size: 20px;
}

section.button-sec button:hover {
    color: white;
}

.progressbar{
    width: 100%;
    height: 17px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 1px;
}
.progressbar-inside{
    height: 100%;
    border-radius: 4px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

p.progress-indicator{
    width: 100%;
    text-align: center;
    font-size: 14px;
}



/*.cnt-red section.horizontal-sec p.sec-title, 
.cnt-red section.main-sec .sec-title, 
.cnt-red section.main-sec .colorful {
    color: #D32F2F !important;
}
*/
.cnt-red section.horizontal-sec .sec-inner-balls .sec-item .sec-item-ball {
    background-color: #D32F2F !important;
}

